body {
  font-family: 'Arial', sans-serif;
  background-color: #e8ffd0;
  color: #333;
  line-height: 1.6;
}


  /* Procesos.css */
.form-container {
    background-color: #ececec;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    max-width: 100% !important;
    margin-left: 11%;
    margin-bottom: 5%;
    float: left; /* Float the form to the left */
    margin-right: 2%;
    margin-top: 6%;
    background-color: #f3f3f3 ;

  }

  .form-containert {
    background-color: #ececec;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 400px !important;
    margin-left: 11%;
    margin-bottom: 5%;
    float: left; /* Float the form to the left */
    margin-right: 2%;
    margin-top: 6%;
    background-color: #f3f3f3 ;

  }
  .parrafo{
    width: 400px;
    padding: 20px;
    font-size: 15px;
    border: 2px solid rgb(170, 170, 170);
  }

/* CSS */
option:checked::before {
  content: '\2713'; /* Unicode checkmark character */
  margin-right: 5px;
  color: green; /* Change color as needed */
}

.form-containero{
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 5px;
  margin-left: 44%;
  margin-top: 6%;
  position: absolute;
}



.table {
  float: right; /* Float the table to the right */
  width: 53%; /* Adjust the width as needed */
  margin-top: 50px; /* Add some spacing between form and table */
}

  
  .form-title {
    text-align: center;
    color: #333;
    font-size: 20px;
  }
  
  .form-field {
    margin: 10px 0;
    
  }

  .fff{
    padding-bottom: 10px;
    padding-top: 10px;
    
  }
  .other-department {
    background-color: rgb(17, 0, 255) !important; /* Un color de fondo llamativo */
    color: #ffffff !important; /* Un color de texto que contraste */
    font-weight: bold; /* Hacer el texto más grueso */
  }  

  .other-department.selected{
    background-color: rgb(2, 15, 87) !important;
  }

  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .next-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 7px;
  }
  

  .next-button:hover {
    background-color: #0857ac;
  }

  /* CSS */
/* Style the label */
.form-field label {
  font-weight: bold;
  display: block; /* Make the label a block element for better spacing */
  margin-bottom: 5px; /* Add spacing between label and select element */
}

/* Style the select element */
.form-field select {
  width: 100%; /* Make the select element fill its container width */
  padding: 10px; /* Add some padding for better appearance */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Round the corners */
  background-color: #fff; /* Set a background color */
  font-size: 16px; /* Adjust the font size */
}

/* Style the options within the select element */
.form-field select option {
  font-size: 16px; /* Adjust the font size */
}

.date-input {
  /* Agrega tus estilos personalizados aquí */
  width: 91%; /* Ancho deseado */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
  /* Otros estilos de diseño que desees aplicar */
}

.date-inputo{
  width: 96% !important;
}

.form-fieldo{
  height: 70px;
}

.page-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  height: 100vh; /* Esto asegura que el contenedor ocupe toda la altura de la ventana */
}

.image-container {
  position: relative; /* Permite el posicionamiento relativo para el botón */
}





.nombre {
  width: 100px ;
  height: 20px;
  list-style-type: none;

}


.nombres{
  width: 100px;
  height: 5px;
  list-style-type: none;


}



/* Style for the input field to add tools */
.tools-input {
  width: 200px;
  padding: 8px;
  margin-right: 10px;
}

.tools-buttons {
  margin-top: 5px;
}

.added-tools {
  margin-top: 10px;
}

.added-tools p {
  font-weight: bold;
}
.added-tools ul {
  list-style: none;
  padding-left: 0; /* Remove default padding */
}

.added-tools ul {
  list-style: none;
  padding-left: 0; /* Remove default padding */
}

.added-tools ul li {
  display: inline-block; /* Makes the background color wrap around the text */
  margin-left: 20px; /* Space between items */
  background-color: #003d82; /* Background color */
  color: #ffff; /* Text color */
  padding: 10px; /* Padding around the text for better visual appearance */
  margin-bottom: 10px; /* Space below each item */
  border-radius: 50px; /* Rounded corners */
}




.tools-container {
  display: flex;
  flex-direction: column;
}

.tools-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajusta el margen inferior para separar del formulario */
}

.toti {
  margin-left: 12px;
  border-radius: 70px;
  color: #000000;
  background-color: rgb(218, 213, 213);
}

.added-tools {
  margin-top: 10px;
  
}

.tottis{
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: #17385a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
}

.totti{
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: #17385a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
}

.tot{
  margin-bottom: 10px;
}

.herr{
  height: 5px;
  width: 80px !important;
  list-style-type: none;
}

.totti:hover{
  background-color: #007bff;
  transition: 0.6s;
}

.tottis:hover{
  background-color: #007bff;
  transition: 0.6s;
}


.department-buttons {
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Crea dos filas */
  grid-auto-flow: column; /* Ajusta los elementos en columnas dentro de las filas */
  grid-gap: 15px; /* Espaciado entre botones */
  margin-bottom: 20px;
}

.department-button {
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #b9cee4;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 40px;
  font-size: 12px;
  color: #000000;
}

.department-button.selected {
  background-color: #3618bd;
  color: white;
}

.depar{
  margin-bottom: 20px;
}


.email{
  width: 91%; /* Ancho deseado */
  height: 3vh;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
}

.extra-form{
  margin-bottom: 20px;
}

.agregar{
  padding: 6px;
  border: 1px solid #ccc;
  background-color:  #03274e;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 40px;
  font-size: 12px;
  color: #ffffff;
  margin-top: 10px;
  padding: 10px;
}




.info-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #5c5b5b;
  color: white;
  cursor: help;
  position: relative;
  margin-right: 30px;
}

.tooltip {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 12px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 150%;
}

.info-icon:hover .tooltip {
  visibility: visible;
}

.suite{
  margin-bottom: 10px;
}

.comentario-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10%;

}

.comentario-container form {
  display: flex;
  flex-direction: column;
}

.comentario-container h2 {
  margin-bottom: 15px;
  color: #333;
  font-size: 1.5em;
}

.comentario-container textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical; /* Permite al usuario ajustar la altura del textarea */
}

.comentario-container button {
  padding: 10px 15px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comentario-container button:hover {
  background-color: #003d82;
}

.mensaje-exito {
  color: green;
  margin-top: 7%;
  margin-left: 27%;
  font-size: 18px;
}


.sector{
  width: 95% !important;
}



.titulo-herramientas {
  display: flex;
  align-items: center;
}

.info-icon {
  margin-left: 10px;
}


.herramientas-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Crea cinco columnas */
  gap: 10px; /* Espacio entre las columnas y filas */
}

.herramienta-container {
  background-color: #b9cee4;
  border-radius: 50px;
  color: #000000;
  margin-bottom: 10px; /* Espacio en la parte inferior de cada contenedor */
  font-size: 13px;
  height: 30px;
  width: 70px; /* Ancho de cada contenedor */
  cursor: pointer;
  display: flex; /* Flexbox for alignment */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  text-align: center; /* Ensures text is centered if it wraps */
  border: 1px solid #ccc;

}


.herramienta.selected {
  background-color: #3618bd;
  color: #ffffff; /* Changes text color to white for better visibility */
  border-radius: 50px; /* Matches the border-radius of .herramienta-container */
  height: 30px; /* Ensures height is the same as .herramienta-container */
  width: 70px; /* Ensures width is the same as .herramienta-container */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  text-align: center; /* Ensures text is centered if it wraps */
  display: flex; /* Flexbox for alignment */

}



/* Estilo General del Contenedor */
.resumen-container {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: auto;
  margin-top: 4%;
}


.info{
  text-align: justify;
  margin-left: 30%;
}




.resumen-titulo{
  margin-left: 30%;
}



/* Estilos para las Flechas de Navegación del Slider */
.resumen-container .slick-slider .slick-prev,
.resumen-container .slick-slider .slick-next {
  font-size: 30px; /* Tamaño de las flechas */
  z-index: 1;
}

.resumen-container .slick-slider .slick-prev:before,
.resumen-container .slick-slider .slick-next:before {
  font-size: 50px; /* Tamaño del ícono de la flecha */
  color: #1f60da; /* Color de las flechas */
  position: absolute;
}

.resumen-container .slick-slider .slick-prev {
  left: -10px; /* Ajusta la posición si es necesario */
}

.resumen-container .slick-slider .slick-next {
  right: 40px; /* Ajusta la posición si es necesario */
}

/* Estilos para el contenedor de procesos */
.procesos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinea los elementos al inicio (izquierda) */
  gap: 28px; /* Espacio entre bloques */
  max-width: 800px; /* Ancho máximo para el contenedor, ajústalo según necesidades */
}

/* Estilos para cada proceso individual */
.proceso {
  min-width: 333px; /* Mínimo ancho para cada bloque de proceso */
  background-color: #f4f4f4;
  padding: 15px;
  border: 3px solid #ddd;
  border-radius: 4px;
}


.edit-icon {
  margin-left: 10px;
  color: #007bff; /* O el color que prefieras */
  cursor: pointer;
}

.edit-icon:hover {
  color: #0056b3; /* Un color más oscuro al pasar el mouse */
}




/* Add this to your CSS file, e.g., Comentarios.css */

.comentarios-container {
  background-color: #f4f4f4; /* Light grey background for the container */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; /* Adjust width as needed */
  margin: 20px auto; /* Center the container */
  margin-top: 10%;

}

.comentarios-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}

.form-field {
  margin-bottom: 15px;
  
}

.form-field textarea {
  width: 95%; /* Full width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100px; /* Adjustable height */
  font-size: 14px;
  resize: vertical; /* Allows vertical resizing */
}

.submit-button {
  background-color: #4CAF50; /* Green background */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #357c39; /* Darker shade on hover */
}



table td ul li {
  list-style-type: none; /* This removes the bullet points */
  text-align: center; /* Centers the text within the list item */
}



/* General Styles */


.form-containerProcesos{
  background-color: #ececec;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  max-width: 50% !important;
  margin-left: 5%;
  margin-bottom: 5%;
  float: left; /* Float the form to the left */
  margin-top: 6%;
}



button {
  background: #5cb85c;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}


/* Table Styles */
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  
}

.table thead {
  background-color: #6a5fff;
  color: #ffffff;
  width: 100%;


}



.table th,
.table td {
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
  width: 100%;
  text-align: center; /* Centers text in table headers and cells */


}

/* Centering buttons and inputs within the table cells */
.table .next-butt, .table input {
  display: block; /* Makes the element a block-level element */
  margin: auto; /* Automatically centers block-level elements */
}

/* If there are specific classes for inputs, you can add them here */
.table .nombres, .table .nombre, .table .herr {
  display: block;
  margin: auto;
}

/* Adjustments for list items within the table */
.table td ul {
  padding: 0;
  margin: 0 auto; /* Centers the unordered list */
  text-align: center;
}

.table td ul li {
  list-style-type: none;
  display: inline-block; /* Keeps list items inline but applies block styling */
}


.tools-header button.toti {
  background: #4cae4c;
  padding: 5px 10px;
  color: #ffffff;
}


.tools-header button.toti:hover{
  background:#3b8a3b
}

.mensaje-confirmacion {
  text-align: center;
  color: green;
  font-weight: bold;
  font-size: 16px;
}